/* General*/
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Roboto:ital,wght@1,700&family=Unbounded:wght@600&display=swap");
.infoPrice button, .form-items button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1.5px 1px gray;
  width: 100px;
  height: 30px;
  border-radius: 10px; }

.bk-first {
  color: #d91e1e; }

.bk-second {
  color: white; }

.bk-third {
  color: #106d1e; }

h1, h2, h3, h4, h5, h6, li, p, a {
  color: black; }

/* Layout */
.header {
  background-color: #f4f4f4; }
  @media (max-width: 1180px) and (min-width: 1024px) {
    .header {
      background-color: #797979; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .header {
      background-color: #797979; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .header {
      background-color: #797979; } }

.bg-light {
  --bs-bg-opacity: 0;
  background-color: black; }

.navbar {
  border-bottom: 1px solid;
  border-bottom-width: thin;
  border-bottom-style: inset; }
  @media (max-width: 1200px) {
    .navbar {
      border-bottom: none; }
      .navbar .logo-nav {
        width: 50px;
        height: 50px;
        margin-bottom: 8px; }
      .navbar .navbar-brand {
        display: none; } }

.navbar-brand {
  padding-top: none;
  padding-bottom: none;
  margin-right: none;
  text-decoration: none;
  white-space: none;
  margin-top: 5px; }
  .navbar-brand img {
    height: 40px;
    margin-top: 5px; }

#navmenu {
  justify-content: flex-end;
  text-align: center; }
  #navmenu .navbar-search {
    width: 100px;
    border: 3px solid #5f9ea0;
    border-radius: 10px;
    text-indent: 5px;
    font-weight: bold;
    margin: 0px 5px 0px 5px; }
    @media (max-width: 1200px) {
      #navmenu .navbar-search {
        margin-bottom: 5px;
        width: 80px;
        border: 1px solid #5f9ea0;
        text-align: center;
        text-indent: 0px; } }
  #navmenu a {
    font-size: 20px;
    font-weight: lighter; }
    @media (max-width: 1200px) {
      #navmenu a {
        font-size: 16px;
        font-weight: normal; } }
    @media (max-width: 811px) and (min-width: 0px) {
      #navmenu a {
        font-weight: normal; } }
  #navmenu .navbar-user {
    width: 1.6em;
    height: 1.6em;
    margin-top: -5px; }
  #navmenu .navbar-cart {
    width: 1.4em;
    height: 1.4em;
    margin-top: -5px; }

.btn-close {
  position: absolute;
  padding: 0.50rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #d91e1e;
  --bs-btn-close-opacity: 1;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
  top: -15px;
  right: -15px; }
  .btn-close:hover {
    opacity: 1; }
  @media (max-width: 811px) and (min-width: 0px) {
    .btn-close {
      top: -10px;
      right: -10px; } }

@media (max-width: 665px) and (min-width: 0px) {
  .modal-lg, .modal-xl {
    margin: 18px; } }

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --bs-modal-width: 500px; } }

.modal-header {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  padding: 18px 16px 30px 16px; }

.modal-body {
  padding: 0px 40px 20px 40px;
  color: black; }

.check {
  justify-content: center; }

.form-check .form-check-input {
  border: 1px solid skyblue;
  float: none;
  margin-left: none; }
  .form-check .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25); }

.reset-pass {
  font-size: 16px; }

.sign-label {
  justify-content: start;
  align-items: start; }

.signInBtn {
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center; }

.hr-lines {
  position: relative;
  max-width: 500px;
  margin: 40px 0px;
  align-items: center; }
  .hr-lines::before {
    content: " ";
    height: 2px;
    width: 130px;
    background: #d91e1e;
    display: block;
    position: absolute;
    top: 50%;
    left: 0; }
    @media (max-width: 811px) and (min-width: 0px) {
      .hr-lines::before {
        width: 80px; } }
  .hr-lines::after {
    content: " ";
    height: 2px;
    width: 130px;
    background: #d91e1e;
    display: block;
    position: absolute;
    top: 50%;
    right: 0; }
    @media (max-width: 811px) and (min-width: 0px) {
      .hr-lines::after {
        width: 80px; } }

.register-title {
  margin-bottom: 30px; }

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: none;
  --bs-nav-link-disabled-color: none;
  --bs-navbar-toggler-border-radius: none;
  --bs-navbar-toggler-focus-width: none;
  --bs-navbar-toggler-transition: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  @media (max-width: 1200px) {
    .navbar-nav {
      display: flex;
      flex-direction: column; } }
  .navbar-nav .navbar-user {
    margin: 0px 0px 0px 0px; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

@media (max-width: 1200px) {
  .navbar-toggler {
    border: none;
    padding-right: 0px;
    transition: all 0.30s ease; }
    .navbar-toggler:hover, .navbar-toggler :focus {
      transform: rotate(90deg);
      transition: all 0.30s ease;
      text-decoration: none;
      outline: 0;
      box-shadow: none; } }

.foot {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 350;
  border-top: 1px solid;
  border-top-width: thin;
  border-top-style: outset;
  background-color: #f4f4f4; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    .foot {
      margin-top: 20px; } }
  @media (max-width: 1180px) and (min-width: 1024px) {
    .foot {
      background-color: #7a7979; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .foot {
      background-color: #797979; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .foot {
      flex-direction: column;
      justify-content: center;
      height: 120px;
      font-size: 14px;
      background-color: #797979; } }

.copy {
  font-size: 16px;
  padding: 10px 0px 15px 0px; }
  .copy p {
    margin-bottom: 0em; }
  @media (max-width: 767px) and (min-width: 0px) {
    .copy {
      padding-bottom: 5px;
      margin: 0px; } }
  @media (max-width: 1200px) {
    .copy {
      padding-top: 5px;
      padding-bottom: 0px; } }

.center-foot {
  font-size: 20px;
  margin-left: 30px;
  padding-bottom: 5px; }
  .center-foot a {
    text-decoration: none;
    font-weight: lighter; }
    @media (max-width: 1200px) {
      .center-foot a {
        font-size: 16px;
        font-weight: normal; } }
  @media (max-width: 1200px) {
    .center-foot {
      margin: 10px 0px 0px 0px;
      align-items: center; } }

.facelogo {
  width: 20px;
  height: auto; }
  @media (max-width: 1200px) {
    .facelogo {
      width: 20px;
      height: auto; } }

.twlogo {
  width: 40px;
  height: auto;
  padding-left: 12px; }
  @media (max-width: 1200px) {
    .twlogo {
      width: 33px;
      height: auto;
      padding-left: 12px; } }

.instalogo {
  width: 29px;
  height: auto;
  padding-left: 6px; }
  @media (max-width: 1200px) {
    .instalogo {
      width: 30px;
      height: auto;
      padding-left: 10px; } }

.ytlogo {
  align-items: center;
  width: 36px;
  height: auto;
  margin-top: 2px;
  padding-left: 6px; }
  @media (max-width: 1200px) {
    .ytlogo {
      width: 35px;
      height: auto;
      margin-top: 0px;
      padding-left: 10px; } }

@media (width: 820px) {
  .onlyAu {
    position: fixed;
    bottom: 0; } }

/* Pages */
@media (max-width: 1180px) and (min-width: 1024px) {
  body {
    background-color: #e4e4e4; } }

@media (max-width: 992px) and (min-width: 812px) {
  body {
    background-color: #e4e4e4; } }

@media (max-width: 811px) and (min-width: 0px) {
  body {
    background-color: #e4e4e4; } }

@media (width: 811px) {
  #carouselExampleAutoplaying {
    max-width: 100%; } }

.carousel-inner {
  border-bottom-width: thin;
  border-bottom-style: inset; }
  @media (max-width: 811px) and (min-width: 0px) {
    .carousel-inner {
      overflow: hidden;
      background-color: #797979; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .carousel-inner {
      background-color: #797979; } }

.carousel-indicators {
  justify-content: flex-end;
  padding: 0;
  margin: 0% 1.5% 1.5% 0%; }
  .carousel-indicators [data-bs-target] {
    width: 5px;
    height: 30px;
    border: 0;
    border-radius: 70px; }
    @media (max-width: 811px) and (min-width: 0px) {
      .carousel-indicators [data-bs-target] {
        width: 2px;
        height: 15px;
        margin: 0% 1% 0.5% 0%; } }

.col {
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: lighter; }

@media (max-width: 992px) and (min-width: 812px) {
  .left {
    padding-left: 0px; } }

.right {
  padding: 0px; }
  @media (width: 811px) {
    .right {
      padding: 0px 12px 0px 12px; } }

.left-img, .right-img {
  border-radius: 7px; }

.left-row {
  margin-top: 5em; }
  @media (max-width: 992px) and (min-width: 812px) {
    .left-row {
      flex-direction: row;
      margin: 2em 0em 0em 0em; } }
  @media (max-width: 992px) and (min-width: 811px) {
    .left-row {
      flex-direction: row;
      margin: 2em 0em 0em 0em; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .left-row {
      flex-direction: column;
      margin: 10px 0px 0px 0px; } }

.right-row {
  margin: -2em 0em 4em 0em; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    .right-row {
      margin-top: 0.5em; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .right-row {
      flex-direction: row;
      margin: 0em 0em 0em 0em; } }
  @media (max-width: 992px) and (min-width: 811px) {
    .right-row {
      flex-direction: row;
      margin: 2em 0em 0em 0em; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .right-row {
      flex-direction: column-reverse;
      margin: 10px 0px 0px 0px; } }

.dali, .klipsch {
  width: 100%; }

.left-content {
  margin: 6em 0em 0em 17em;
  height: 310px;
  width: 400px;
  text-align: start;
  letter-spacing: 1px;
  overflow: hidden; }
  .left-content h1 {
    font-size: 1.7em; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    .left-content {
      margin: 2em 0em 1em 2.5em;
      height: 100%; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .left-content {
      width: 100%;
      height: 100%;
      margin: 1.5em 0em 0em 0em; } }
  @media (width: 1600px) {
    .left-content {
      margin: 2em 0em 0em 9em; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .left-content {
      margin: 20px 0px 20px 0px;
      width: 100%;
      height: 100%; } }

.right-content {
  margin: 9em 0em 0em 17em;
  height: 280px;
  width: 400px;
  text-align: start;
  letter-spacing: 1px;
  overflow: hidden; }
  .right-content h2 {
    font-size: 1.7em; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    .right-content {
      margin: 3em 0em 0em 2.5em; } }
  @media (width: 1600px) {
    .right-content {
      margin: 5em 0em 0em 9em; } }
  @media (max-width: 992px) and (min-width: 812px) {
    .right-content {
      margin: 1.5em 0em 0em 0em;
      width: 100%;
      height: 100%; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .right-content {
      margin: 20px 0px 20px 0px;
      width: 100%;
      height: 100%; } }

.title-index__left, .title-index__right {
  overflow: hidden; }

#text-1, #text-2 {
  font-size: 18px;
  font-weight: 350; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    #text-1, #text-2 {
      font-size: 16px; } }
  @media (width: 1600px) {
    #text-1, #text-2 {
      font-size: 16px; } }
  @media (max-width: 992px) and (min-width: 812px) {
    #text-1, #text-2 {
      font-size: 14px; } }
  @media (max-width: 992px) and (min-width: 811px) {
    #text-1, #text-2 {
      font-size: 14px; } }
  @media (max-width: 811px) and (min-width: 0px) {
    #text-1, #text-2 {
      font-size: 14px; } }

.text-center h5 {
  margin-top: 20px; }

.logo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 60px 0px; }
  .logo img {
    background-color: white;
    align-items: center;
    height: 70px;
    border-radius: 50%; }
  @media (width: 811px) {
    .logo {
      justify-content: center;
      align-items: center;
      margin: 5px 0px 5px 0px; }
      .logo img {
        align-items: center;
        height: 50px;
        border-radius: 50%; } }

.worksGallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 12px; }
  @media (max-width: 767px) and (min-width: 0px) {
    .worksGallery {
      display: flex;
      flex-direction: column; } }

.itemGallery {
  position: relative;
  overflow: hidden;
  z-index: 1000;
  border-radius: 7px; }
  .itemGallery:nth-child(1) {
    grid-column-start: span 5; }
  .itemGallery:nth-child(2) {
    grid-column-start: span 4; }
  .itemGallery:nth-child(3) {
    grid-column-start: span 3; }
  .itemGallery:nth-child(4) {
    grid-column-start: span 3; }
  .itemGallery:nth-child(5) {
    grid-column-start: span 5; }
  .itemGallery:nth-child(6) {
    grid-column-start: span 4; }
  .itemGallery::after {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 250ms ease-in-out; }
  .itemGallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
    transition: all 250ms ease-in-out; }
    .itemGallery img:hover {
      position: relative;
      transform: scale(1.1);
      transition: all 250ms ease-in-out; }
  .itemGallery h3 {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-shadow: 2.5px 2px black;
    color: white; }

.main-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  font-style: normal;
  font-weight: 550; }
  .main-contents h1, .main-contents h3, .main-contents span {
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    font-size: 18px; }
  @media only screen and (max-width: 1200px) {
    .main-contents {
      color: black;
      padding: 5px;
      font-style: normal;
      font-weight: lighter; }
      .main-contents h1, .main-contents h3, .main-contents span {
        padding: 5px;
        font-size: 16px; } }

.display-info {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  color: grey; }
  @media only screen and (max-width: 1200px) {
    .display-info {
      font-size: 14px; } }

#productTitle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto; }
  @media only screen and (max-width: 1200px) {
    #productTitle {
      width: 100%;
      margin: auto; } }

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 680px;
  margin: 10px;
  box-shadow: 0 0 20px grey;
  border-radius: 5px; }
  .product-card img {
    width: 100%;
    height: 300px; }
  .product-card p {
    color: grey;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 0px, 10px, 5px, 10px; }
  @media only screen and (max-width: 1200px) {
    .product-card {
      width: 250px;
      margin: 5px; }
      .product-card img {
        width: 250px;
        height: 250px; } }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 10px;
  padding: 10px;
  color: black; }
  @media only screen and (max-width: 1200px) {
    .info {
      font-size: 14px; } }

.infoPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder; }
  .infoPrice button {
    margin-top: 15px;
    background-color: #ff8c00;
    transition: all 200ms ease-in-out; }
    .infoPrice button:hover {
      color: whitesmoke;
      background-color: forestgreen;
      border: 1px solid white;
      cursor: pointer;
      transform: scale 1.5 ease-in-out;
      transform: translateY(-3px);
      transition: all 0.3s ease-in-out; }

.service-one, .service-two {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0; }
  @media (max-width: 1200px) {
    .service-one, .service-two {
      flex-direction: column;
      margin: 0; } }

.upper-container, .bottom-container {
  margin: 20px 0px; }
  .upper-container img, .bottom-container img {
    width: 630px;
    height: 450px;
    border-radius: 10px; }
    @media (max-width: 1600px) and (min-width: 1024px) {
      .upper-container img, .bottom-container img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; } }
    @media (max-width: 1200px) {
      .upper-container img, .bottom-container img {
        width: 100%;
        height: 100%; } }
  .upper-container iframe, .bottom-container iframe {
    border: 1px solid;
    border-radius: 10px;
    width: 630px;
    height: 450px; }
    @media (max-width: 1600px) and (min-width: 1024px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 400px; } }
    @media (width: 811px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 10px; } }
    @media only screen and (max-width: 992px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 300px; } }
  @media (max-width: 767px) and (min-width: 0px) {
    .upper-container, .bottom-container {
      font-size: 14px; } }

.services-text__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  text-align: start;
  line-height: 2; }
  @media (max-width: 1600px) and (min-width: 1024px) {
    .services-text__container {
      text-align: center; } }
  @media (max-width: 992px) and (min-width: 811px) {
    .services-text__container {
      font-size: 14px;
      text-align: center;
      line-height: 1.5; } }
  @media (max-width: 811px) and (min-width: 0px) {
    .services-text__container {
      font-size: 14px;
      text-align: center;
      line-height: 1.5; } }

#contact-block {
  border: 1px solid rgba(0, 0, 0, 0.655);
  border-radius: 10px; }

#contact-block h3, .contact-form h3 {
  color: white;
  margin: 7px 10px 12px 10px; }

@media (max-width: 1180px) and (min-width: 1024px) {
  #contact-block, .contact-form {
    height: 420px; } }

.img-form img {
  border-radius: 9px 9px 9px 9px; }
  @media (max-width: 1180px) and (min-width: 1024px) {
    .img-form img {
      height: 418px; } }
  @media (max-width: 1200px) {
    .img-form img {
      border-radius: 10px 10px 10px 10px;
      margin: 0px 0px 10px 0px; } }

.single-form {
  background: #6a6a6a; }

.right, .left {
  position: relative; }

.form-control {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000000; }

.form-text {
  font-size: 16px; }
  @media (max-width: 811px) and (min-width: 0px) {
    .form-text {
      font-size: 14px; } }

.form-label {
  color: #fff; }

.btn, .btn-primary button {
  display: flex;
  align-items: center;
  padding: 3px; }

.form-items button {
  height: 40px;
  border: 1px solid #5f9ea0;
  color: #fff;
  background-color: cornflowerblue;
  margin: 0px 7px;
  cursor: pointer; }
  .form-items button:hover {
    background-color: #252525;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out; }
  @media (max-width: 1200px) {
    .form-items button {
      margin-bottom: 10px; } }

.map-container {
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px 80px; }
  @media (max-width: 1200px) {
    .map-container {
      border: none; } }
  .map-container iframe {
    width: 100%;
    height: 100%;
    padding: 3px 15px 3px 15px; }
    @media (max-width: 1200px) {
      .map-container iframe {
        display: flex;
        flex-direction: row;
        padding: 0; } }

.location {
  flex-direction: row; }
  @media only screen and (max-width: 811px) {
    .location {
      flex-direction: column; } }
  @media only screen and (orientation: landscape) {
    .location {
      flex-direction: row; } }

.card-title-a {
  flex-direction: column;
  text-align: center;
  margin: 30px 10px 0px 0px;
  font-size: 16px; }
  .card-title-a h4 {
    margin-bottom: 30px; }
  @media (max-width: 1200px) {
    .card-title-a {
      margin: 0px 10px 0px 0px;
      padding: 20px;
      font-size: 14px; } }

.logo-audiolusa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 0px; }
  .logo-audiolusa img {
    height: 200px;
    align-items: center;
    transition: all 0.4s ease-in-out; }
    .logo-audiolusa img:hover {
      transform: translateY(-8px);
      transition: all 0.4s ease-in-out; }

.card-title-b {
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  font-size: 16px; }
  @media (max-width: 1200px) {
    .card-title-b {
      padding: 20px;
      font-size: 14px; } }

.about-us {
  justify-content: center;
  align-items: center; }

.container-about__text {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 40px 0px 90px 0px;
  padding: 15px; }
  @media (max-width: 1200px) {
    .container-about__text {
      flex-direction: column;
      margin: 20px 0px 30px 0px;
      padding: 15px; } }
  @media (width: 1024px) {
    .container-about__text {
      margin-bottom: 320px; } }

#about-img {
  align-items: center;
  border-radius: 10px; }

.about-about, .about-mision {
  padding: 0px 15px 0px 15px;
  text-align: start;
  line-height: 1.5; }
  .about-about h3, .about-mision h3 {
    text-align: center; }
  .about-about p, .about-mision p {
    font-size: 18px;
    font-weight: 350; }
  @media (max-width: 1200px) {
    .about-about p, .about-mision p {
      font-size: 14px;
      padding: 0px 5px 0px 5px;
      text-align: center;
      line-height: 1.5; }
    .about-about h3, .about-mision h3 {
      text-align: center; } }

.basket {
  display: flex;
  width: 100%;
  margin-bottom: 80px; }
  @media screen and (max-width: 811px) {
    .basket {
      flex-direction: column; } }
  @media screen and (max-width: 1200px) {
    .basket {
      width: 100%; } }
  .basket h1 {
    padding: 15px;
    text-align: start;
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkorange; }

.cartContainer {
  display: flex;
  gap: 1.5rem; }
  @media screen and (max-width: 811px) {
    .cartContainer {
      flex-direction: column; } }
  @media screen and (max-width: 1200px) {
    .cartContainer {
      width: 100%; } }

.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main); }

.cartProducts {
  flex: 80%;
  gap: 1rem; }
  @media (max-width: 811px) and (min-width: 0px) {
    .cartProducts {
      padding: 0; } }

.cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #dedede;
  color: var(--clr-main);
  margin-bottom: 10px;
  padding: .5rem;
  padding-right: 3rem;
  border-radius: 1rem; }
  .cartProduct img {
    width: 8rem;
    padding: 0;
    margin-bottom: 0; }

.eraseProduct {
  height: 30px;
  width: 20px;
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer; }
  .eraseProduct:hover {
    color: white;
    transform: scaleY(1.08); }
  .eraseProduct button {
    border-radius: 0;
    border: none;
    background-color: none; }

.right-basket {
  display: flex;
  flex: 20%;
  padding: 20px;
  height: 80px;
  border: 1px solid #afafaf;
  border-radius: 7px;
  background: #bababa;
  box-shadow: rgba(0, 0, 0, 0.311) 0px 10px 20px 0px; }
  @media screen and (max-width: 811px) {
    .right-basket {
      margin-bottom: 20px; } }
  .right-basket hr {
    margin-bottom: 25px; }
  .right-basket p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px; }
  .right-basket a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 400; }
  .right-basket button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: forestgreen; }
    .right-basket button:hover {
      transform: scaleY(1.07); }
