/* General*/
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Roboto:ital,wght@1,700&family=Unbounded:wght@600&display=swap");
.info button, .form-items button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1.5px 1px gray;
  width: 100px;
  height: 50px;
  padding: 7px 7px;
  border-radius: 75px; }

.bk-first {
  color: #d91e1e; }

.bk-second {
  color: white; }

.bk-third {
  color: #106d1e; }

h1, h2, h3, h4, h5, h6, li, p, a {
  color: black; }

/* Layout */
@media (max-width: 992px) and (min-width: 0px) {
  .header {
    background-color: #797979; } }

.bg-light {
  --bs-bg-opacity: 0;
  background-color: black; }

.navbar {
  border-bottom: 1px solid;
  border-bottom-width: thin;
  border-bottom-style: inset; }
  @media (max-width: 1200px) {
    .navbar {
      border-bottom: none; }
      .navbar .logo-nav {
        width: 50px;
        height: 50px;
        margin-bottom: 8px; }
      .navbar .navbar-brand {
        display: none; } }

.navbar-brand {
  padding-top: none;
  padding-bottom: none;
  margin-right: none;
  text-decoration: none;
  white-space: none;
  margin-top: 5px; }
  .navbar-brand img {
    height: 40px;
    margin-top: 5px; }

#navmenu {
  justify-content: flex-end;
  text-align: center; }
  #navmenu input {
    width: 100px;
    border: 3px solid #5f9ea0;
    border-radius: 10px;
    text-indent: 5px;
    font-weight: bold;
    margin: 0px 5px 0px 5px; }
  #navmenu a {
    font-size: 20px; }
  #navmenu .navbar-user {
    width: 1.6em;
    height: 1.6em;
    margin: 0px 5px 0px 5px; }
  #navmenu .navbar-cart {
    width: 1.6em;
    height: 1.6em;
    margin: 0px 5px 0px 5px; }
  @media (max-width: 1200px) {
    #navmenu a {
      font-size: 16px; }
    #navmenu input {
      width: 80px;
      border: 1px solid #5f9ea0;
      text-align: center;
      text-indent: 0px; } }

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: none;
  --bs-nav-link-disabled-color: none;
  --bs-navbar-toggler-border-radius: none;
  --bs-navbar-toggler-focus-width: none;
  --bs-navbar-toggler-transition: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  @media (max-width: 1200px) {
    .navbar-nav {
      display: flex;
      flex-direction: column; } }
  .navbar-nav .navbar-user {
    margin: 0px 0px 0px 0px; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

@media (max-width: 1200px) {
  .navbar-toggler {
    border: none;
    padding-right: 0px;
    transition: all 0.30s ease; }
    .navbar-toggler:hover, .navbar-toggler :focus {
      transform: rotate(90deg);
      transition: all 0.30s ease;
      text-decoration: none;
      outline: 0;
      box-shadow: none; } }

.foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 350;
  border-top: 1px solid;
  border-top-width: thin;
  border-top-style: outset; }
  @media (max-width: 992px) and (min-width: 0px) {
    .foot {
      background-color: #797979; } }
  @media (max-width: 768px) {
    .foot {
      flex-direction: column;
      justify-content: center;
      height: 120px;
      font-size: 14px; } }
  @media (max-width: 1366px) and (min-width: 1024px) {
    .foot {
      margin-top: 20px; } }

.copy {
  font-size: 16px;
  padding: 10px 0px 15px 0px; }
  .copy p {
    margin-bottom: 0em; }
  @media (max-width: 992px) and (min-width: 0px) {
    .copy {
      padding-bottom: 5px;
      margin: 0px; } }
  @media (max-width: 1200px) {
    .copy {
      padding-top: 5px;
      padding-bottom: 0px; } }

.center-foot {
  font-size: 20px;
  margin-left: 30px;
  padding-bottom: 5px; }
  .center-foot a {
    text-decoration: none;
    font-weight: 400; }
  @media (max-width: 1200px) {
    .center-foot {
      font-size: 16px;
      margin: 10px 0px 0px 0px;
      align-items: center; } }

.facelogo {
  width: 20px;
  height: auto; }
  @media (max-width: 1200px) {
    .facelogo {
      width: 20px;
      height: auto; } }

.twlogo {
  width: 40px;
  height: auto;
  padding-left: 12px; }
  @media (max-width: 1200px) {
    .twlogo {
      width: 33px;
      height: auto;
      padding-left: 12px; } }

.instalogo {
  width: 29px;
  height: auto;
  padding-left: 6px; }
  @media (max-width: 1200px) {
    .instalogo {
      width: 30px;
      height: auto;
      padding-left: 10px; } }

.ytlogo {
  align-items: center;
  width: 36px;
  height: auto;
  margin-top: 2px;
  padding-left: 6px; }
  @media (max-width: 1200px) {
    .ytlogo {
      width: 35px;
      height: auto;
      margin-top: 0px;
      padding-left: 10px; } }

/* Pages */
@media (max-width: 768px) {
  #carouselExampleAutoplaying {
    max-width: 100%; } }

.carousel-inner {
  border-bottom-width: thin;
  border-bottom-style: inset; }
  @media (max-width: 768px) {
    .carousel-inner {
      overflow: hidden;
      width: 100%;
      border-radius: 0px; } }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px; }
  @media (max-width: 768px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 30px;
      height: 30px; } }

.carousel-control-prev, .carousel-control-next {
  opacity: .7; }

.col {
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: lighter; }

.left-row {
  margin-top: 5em; }
  @media (max-width: 768px) {
    .left-row {
      flex-direction: column;
      margin: 10px 0px 0px 0px; } }

.right {
  padding: 0px 0px; }
  @media (max-width: 768px) {
    .right {
      padding: 0px 12px 0px 12px; } }

.right-row {
  margin: -2em 0em 4em 0em; }
  @media (max-width: 1366px) and (min-width: 1024px) {
    .right-row {
      margin-top: 0.5em; } }
  @media (max-width: 768px) {
    .right-row {
      flex-direction: column-reverse;
      margin: 10px 0px 0px 0px; } }

.dali, .klipsch {
  width: 100%; }

.left-content {
  margin: 6em 0em 0em 17em;
  height: 310px;
  width: 400px;
  text-align: start;
  letter-spacing: 1px; }
  @media (max-width: 1366px) and (min-width: 1024px) {
    .left-content {
      margin: 0em 0em 1em 2.5em; } }
  @media (width: 1366px) {
    .left-content {
      margin: 2em 0em 0em 9em; } }
  @media (max-width: 768px) {
    .left-content {
      margin: 20px 0px 20px 0px;
      width: 250px;
      height: 310px; } }

.right-content {
  margin: 9em 0em 0em 17em;
  height: 280px;
  width: 400px;
  text-align: start;
  letter-spacing: 1px; }
  @media (max-width: 1366px) and (min-width: 1024px) {
    .right-content {
      margin: 2em 0em 0em 2.5em;
      font-size: 14px; } }
  @media (width: 1366px) {
    .right-content {
      margin: 5em 0em 0em 9em;
      font-size: 16px; } }
  @media (max-width: 768px) {
    .right-content {
      margin: 20px 0px 20px 0px;
      font-size: 14px;
      width: 250px;
      height: 270px; } }

.left-img, .right-img {
  border-radius: 7px; }

#text-1, #text-2 {
  font-size: 18px;
  font-weight: 350; }
  @media (max-width: 768px) {
    #text-1, #text-2 {
      font-size: 14px; } }

.text-center h5 {
  margin-top: 20px; }

.logo {
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px; }
  .logo img {
    align-items: center;
    height: 70px;
    border-radius: 50%; }
  @media (max-width: 768px) {
    .logo {
      justify-content: center;
      align-items: center;
      margin: 5px 0px 5px 0px; }
      .logo img {
        align-items: center;
        height: 50px;
        border-radius: 50%; } }

@media (max-width: 992px) and (min-width: 0px) {
  body {
    background-color: #c5c5c5; } }

.main-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  font-style: normal;
  font-weight: 550; }
  .main-contents h3 {
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    font-size: 18px; }
  @media only screen and (max-width: 1200px) {
    .main-contents {
      color: black;
      padding: 5px;
      font-style: normal;
      font-weight: lighter; }
      .main-contents h3 {
        padding: 5px;
        font-size: 16px; } }

.display-info {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  color: grey; }
  @media only screen and (max-width: 1200px) {
    .display-info {
      font-size: 14px; } }

#cards-container__products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto; }
  @media only screen and (max-width: 1200px) {
    #cards-container__products {
      width: 100%;
      margin: auto; } }

.product-card {
  position: relative;
  width: 270px;
  height: 380px;
  margin: 20px 10px 20px 10px; }
  .product-card img {
    width: 100%;
    height: 300px; }
  @media only screen and (max-width: 1200px) {
    .product-card {
      position: relative;
      width: 250px;
      margin: 35px; }
      .product-card img {
        width: 250px;
        height: 250px; } }

.title-card {
  flex-direction: column;
  text-align: center;
  color: black; }
  .title-card p {
    color: grey; }

.info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 1000;
  background-color: black;
  font-style: normal;
  font-weight: lighter;
  top: 0;
  left: 0;
  padding: 10px;
  border: 2px solid #a3a3a3;
  border-radius: 7px;
  width: 100%;
  height: 100%; }
  .info p {
    font-size: 14px;
    margin-bottom: 18px; }
  .info button {
    background-color: darkorange;
    transition: all 200ms ease-in-out; }
    .info button:hover {
      color: whitesmoke;
      background-color: forestgreen;
      border: 1px solid white;
      cursor: pointer;
      transform: scale 1.5 ease-in-out;
      transform: translateY(-3px);
      transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 1200px) {
    .info {
      font-size: 14px; } }

.product-card:hover .info {
  display: flex; }

.service-one, .service-two {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0; }
  @media (max-width: 1200px) {
    .service-one, .service-two {
      flex-direction: column;
      margin: 0; } }

.upper-container, .bottom-container {
  margin: 20px 0px; }
  .upper-container img, .bottom-container img {
    width: 630px;
    height: 450px;
    border-radius: 10px; }
    @media (max-width: 1366px) and (min-width: 1024px) {
      .upper-container img, .bottom-container img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; } }
    @media (max-width: 1200px) {
      .upper-container img, .bottom-container img {
        width: 100%;
        height: 100%; } }
  .upper-container iframe, .bottom-container iframe {
    border: 1px solid;
    border-radius: 10px;
    width: 630px;
    height: 450px; }
    @media (max-width: 1366px) and (min-width: 1024px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 400px; } }
    @media (max-width: 768px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 10px; } }
    @media only screen and (max-width: 992px) {
      .upper-container iframe, .bottom-container iframe {
        width: 100%;
        height: 300px; } }

.services-text__container {
  display: flex;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  text-align: start;
  line-height: 2; }
  @media (max-width: 1366px) and (min-width: 1024px) {
    .services-text__container {
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media (max-width: 768px) {
    .services-text__container {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 1.5; } }

#contact-block {
  border: 1px solid rgba(0, 0, 0, 0.655);
  border-radius: 10px; }

#contact-block h3, .contact-form h3 {
  color: white;
  margin: 7px 10px 12px 10px; }

@media (max-width: 1180px) and (min-width: 1024px) {
  #contact-block, .contact-form {
    height: 420px; } }

.img-form img {
  border-radius: 9px 9px 9px 9px; }
  @media (max-width: 1180px) and (min-width: 1024px) {
    .img-form img {
      height: 418px; } }
  @media (max-width: 1200px) {
    .img-form img {
      border-radius: 10px 10px 10px 10px;
      margin: 0px 0px 10px 0px; } }

.single-form {
  background: #ff2525; }

.right, .left {
  position: relative; }

.form-control {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000000; }

.form-label {
  color: #fff; }

.btn, .btn-primary button {
  display: flex;
  align-items: center;
  padding: 3px; }

.form-items button {
  height: 40px;
  border: 1px solid #5f9ea0;
  color: #fff;
  background-color: cornflowerblue;
  margin: 0px 7px;
  cursor: pointer; }
  .form-items button:hover {
    background-color: #252525;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out; }
  @media (max-width: 1200px) {
    .form-items button {
      margin-bottom: 10px; } }

.map-container {
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px 80px; }
  @media (max-width: 1200px) {
    .map-container {
      border: none; } }
  .map-container iframe {
    width: 100%;
    height: 100%;
    padding: 3px 15px 3px 15px; }
    @media (max-width: 1200px) {
      .map-container iframe {
        display: flex;
        flex-direction: row;
        padding: 0; } }

.location {
  flex-direction: row; }
  @media only screen and (max-width: 768px) {
    .location {
      flex-direction: column; } }
  @media only screen and (orientation: landscape) {
    .location {
      flex-direction: row; } }

.card-title-a {
  flex-direction: column;
  text-align: center;
  margin: 30px 10px 0px 0px;
  font-size: 16px; }
  .card-title-a h4 {
    margin-bottom: 30px; }
  @media (max-width: 1200px) {
    .card-title-a {
      margin: 0px 10px 0px 0px;
      padding: 20px;
      font-size: 14px; } }

.logo-audiolusa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 0px; }
  .logo-audiolusa img {
    height: 200px;
    align-items: center;
    transition: all 0.4s ease-in-out; }
    .logo-audiolusa img:hover {
      transform: translateY(-8px);
      transition: all 0.4s ease-in-out; }

.card-title-b {
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  font-size: 16px; }
  @media (max-width: 1200px) {
    .card-title-b {
      padding: 20px;
      font-size: 14px; } }

.about-us {
  justify-content: center;
  align-items: center; }

.container-about__text {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 40px 0px 90px 0px;
  padding: 15px; }
  @media only screen and (max-width: 1200px) {
    .container-about__text {
      flex-direction: column;
      margin: 20px 0px 20px 0px;
      padding: 15px; } }

#about-img {
  align-items: center;
  border-radius: 10px; }

.about-about, .about-mision {
  padding: 0px 15px 0px 15px;
  text-align: start;
  line-height: 1.5; }
  .about-about h3, .about-mision h3 {
    text-align: center; }
  .about-about p, .about-mision p {
    font-size: 18px;
    font-weight: 350; }
  @media only screen and (max-width: 1200px) {
    .about-about, .about-mision {
      font-size: 14px;
      padding: 0px 5px 0px 5px;
      text-align: center;
      line-height: 1.5; }
      .about-about h3, .about-mision h3 {
        text-align: center; } }
