* {
    margin: 0%;
    padding: 0%;
    list-style-type: none; 
    text-decoration: none;
}

/* Body */

body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

/* Header__Nav */

.bg-light {
    --bs-bg-opacity: 0;
    background-color: black;
}

.logo-nav {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    height: 45px;
    margin-bottom: 3px;
}


.navbar-brand {
    padding-top: none;
    padding-bottom: none;
    margin-right: none;
    font-size: var(--bs-navbar-brand-font-size);
    color: white;
    font-family: 'Valencia';
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 5px;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: white;
}

.nav-link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
}  

.nav-link:focus, .nav-link:hover {
    color: white;
}

#navmenu {
    justify-content: flex-end;
    align-items: center;
}


#navmenu input {
    margin: 9px 5px 0px 10px;
    width: 100px;
    border: 3px solid #5f9ea0;
    border-radius: 10px;
    text-indent: 5px;
}

#navmenu img {
    margin: 15px 10px 0px 10px;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding-right: 0px;
    transition: all 0.30s ease;
}

.navbar-toggler:hover {
    transform: rotate(90deg);
    transition: all 0.30s ease;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}


@media only screen and (max-width: 992px) {
    .navbar-brand {
        display: none;
    }
    
    .navbar-brand img {
        width: 25px;
        height: 25px;
        margin-bottom: 8px;
    }
    .navbar-brand {
        font-size: 14px;
    }
    #navmenu ul {
        align-items: center;
    }
    .nav-link {
        font-size: 14px;
    }
    #navmenu input, img {
        align-self: center;
        margin: 5px 0px 10px 0px;
    }
    #navmenu input, .placeholder::first-letter {
        text-align: center;
        font-weight: bold;
    }
}


/* Main - Index */

main { 
    height: auto;
}  

.carousel-inner {
    border-radius: 25px 25px 10px 10px ;
}

.carousel-control-prev {
    opacity: .7;
}

.carousel-control-prev-icon {
    width: 60px;
    height: 60px;
}

.carousel-control-next {
    opacity: .7;
}

.carousel-control-next-icon {
    width: 60px;
    height: 60px;
}

.col {
    color: white;
    font-size: 18px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;;
}

.left-row, .right-row {
    margin: 10px 0px 0px 0px;
    
}

.title-index__left {
    margin: 100px 0px 0px 300px;
}

.title-index__right {
    margin: 150px 0px 0px 250px;
}


.text-1{
    margin-left: 300px;
    height: 100px;
    width: 400px;
    text-align: start;
    letter-spacing: 1px;
}

.text-2 {
    margin-left: 250px;
    height: 100px;
    width: 400px;
    text-align: start;
    letter-spacing: 1px;
}

.text-center h5 {
    margin-top: 20px;
    color: white;
}

.left-img, .right-img {
    border-radius: 7px;
}

.logo{
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.logo img {
    background-color: white;
    align-items: center;
    height: 70px;
    border-radius: 50%;
}

@media only screen and (max-width: 992px) {
    .left-row {
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    .right-row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    
    .title-index__left {
        margin: 10px 0px 10px 0px;
        font-size: 16px;
    }
    
    .title-index__right {
        margin: 10px 0px 10px 0px;
        font-size: 16px;
    }
    
    .text-1{
        width: 250px;
        height: 150px;
        margin-left: 0px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .text-2 {
        width: 250px;
        height: 150px;
        margin-left: 0px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .logo{
        justify-content: center;
        align-items: center;
        margin: 5px 0px 5px 0px;
    }
    
    .logo img {
        background-color: white;
        align-items: center;
        height: 50px;
        border-radius: 50%;
    }
}

/* Main - Products */

.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
}

.main-contents h3 {
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    font-size: 18px;
}

.display-info{
    color: white;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container__products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.product-card {
    position: relative;
    width:350px;
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card img {
    background-color: white;
    border-radius: 5px;
}

.info {
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.813);
    color: white;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    top: 0;
    left:0;
    width:100%;
    height:100%;
}

.info h4 {
    font-size: 18px;
    margin-bottom: 30px;
}

.info p {
    font-size: 16px;
    margin-bottom: 20px;
}


.info button {
    width: 75px;
    height: 25px;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.info button:hover {
    background-color: cadetblue;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transform: scale (1.5);
}

.product-card img {
    width: 350px;
    height: 350px;
}

.product-card:hover .info {
    display: flex;
}

@media only screen and (max-width: 992px) {
    .main-contents {
        flex-direction: row;
        justify-content: center;
        color: white;
        padding: 5px;
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: lighter;
    }
    
    .main-contents h3 {
        padding: 5px;
        color: white;
        font-weight: lighter;
        font-size: 16px;
    }
    
    .display-info{
        color: white;
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: lighter;
        font-size: 14px;
    }
    
    .cards-container__products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    
    .product-card {
        position: relative;
        width:250px;
        margin:35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    
    .info h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .info p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    
    .info button {
        width: 55px;
        height: 25px;
        font-size: 14px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    .product-card img {
        width: 250px;
        height: 250px;
    }
}


/* Main - Contact */

.container-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oxygen';
    font-style: normal;
    color: white;
    padding: 15px;
}

.img-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 650px;
}

.img-contact img {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.location {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
}

.location h4 {
    margin: 10px 0px;
}

.location p {
    margin: 5px 0px;
}

.location iframe {
    width: 200px;
    height: 200px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.fill-fields {
    padding-left: 5px;
    height: 35px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.query {
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    width: 60px;
    height: 25px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.form-button:hover {
    background-color: darkred;
    color: white;
}

.logo-audiolusa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-audiolusa img {
    height: 100px;
    align-items: center;
}

/* Main - About-Us */

#container-about__img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-img {
    border: 1px solid;
    border-radius: 10px;
}

.about-img img {
    border-radius: 10px;
}

.container-about__text {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    padding: 15px;
}

.about-about h3 {
    font-size: 18px;
    font-weight: bold;
}

.about-mision h3 {
    font-size: 18px;
    font-weight: bold;
}

.about-about {
    width: 600px;
    height: 450px;
    line-height: 2;
}

.about-mision {
    width: 600px;
    height: 450px;
    line-height: 2;
}

/* Services */

#container-services__main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.upper-bottom__container {
    width: 600px;
    height: 450px;
    margin: 20px;
}

.services-text__container {
    width: 600px;
    height: 450px;
    margin: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 2;
    color: white;
}

.upper-bottom__container img {
    width: 600px;
    height: 450px;
    border: 1px solid;
    border-radius: 10px;
}

.upper-bottom__container iframe {
    width: 600px;
    height: 450px;
    border: 1px solid;
    border-radius: 10px;
}

/* Footer */



.container-fluid-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    color: white;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: lighter;
    width: 100%;
}

.copy p {
    font-size: 14px;
    padding: 15px 0px 0px 0px;
}

.center-foot {
    font-size: 20px;
    margin-left: 10px;
}

.center-foot a {
    color: white;
    text-decoration: none;
}

.facelogo {
    width: 25px;
    height: 25px;
}

.twlogo {
    width: 33px;
    height: 25px;
    padding-left: 10px ;
}

.instalogo {
    width: 33px;
    height: 25px;
    padding-left: 10px;
}

.ytlogo {
    width: 40px;
    height: 25px;
    padding-left: 10px;
}

@media only screen and (max-width: 992px) {
    .container-fluid-foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: lighter;
        font-size: 14px;
        width: 100%;
    }

    .copy {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .center-foot {
        font-weight: lighter;
        margin: 10px 0px 5px 0px;
        align-items: center;
    }
    
    .facelogo {
        width: 20px;
        height: 20px;
    }
    
    .twlogo {
        width: 28px;
        height: 20px;
        padding-left: 10px ;
    }
    
    .instalogo {
        width: 28px;
        height: 20px;
        padding-left: 10px;
    }
    .ytlogo {
        width: 35px;
        height: 20px;
        padding-left: 10px;
    }
}
