//* Eachys *//

$colors: (
    first: rgb(217, 30, 30),
    second: white,
    third: rgb(4, 250, 0),
);

@each $color-name, $color-value in $colors {
    .bk-#{$color-name}
    {
        color: $color-value;
    }
}