//* Extend *//

%buttons {
    font-size: $small;
    font-weight: bold;
    text-align: center;
    text-shadow: 1.5px 1px gray;
    width: 100px;
    height: 50px;
    padding: 7px 7px;
    border-radius: 75px;
}