//+ Sizes +//

$small: 14px;
$medium: 16px;
$large: 18px;
$xlarge: 20px;
$xxlarge: 22px;

//+ W & H +//

$width: 700px;
$height: 500px;

//* Viewports *//
$lessThanMobile: 0px;
$mobileSmall: 665px;
$mobile: 767px;
$tablet: 820px;
$tabletMedium: 812px;
$tabletPlus: 992px;
$landscape: 1024px;
$landscapeMedium: 1180px;
$landscapePlus: 1600px;
$desktop: 1200px;   