//+ Sizes +//

$small: 14px;
$medium: 16px;
$large: 18px;
$xlarge: 20px;
$xxlarge: 22px;

//+ W & H +//

$width: 700px;
$height: 500px;

//* Viewports *//

$mobile: 576px;
$tablet: 768px;
$tabletPlus: 992px;
$landscape: 1024px;
$landscapeMedium: 1180px;
$landscapePlus: 1366px;
$desktop: 1200px;

//* Mixins *//

@mixin tablet-portrait {
    @media only screen and (max-width: $landscapePlus) and (min-width: $landscape) {@content}
};

@mixin tablet-lsPlus {
    @media only screen and (width: $landscapePlus) {@content}
};

@mixin mobile-only {
    @media (max-width: $tabletPlus) {@content}
};

