//* Mission & Us *//

.about-us {
    justify-content: center;
    align-items: center;
    
}
.container-about__text {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 40px 0px 90px 0px;
    padding: 15px;
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        margin: 20px 0px 20px 0px;
        padding: 15px;
    }
}
#about-img {
    align-items: center;
    border-radius: 10px;
}
.about-about, .about-mision {
    padding: 0px 15px 0px 15px;
    text-align: start;
    line-height: 1.5;
    h3 {
        text-align: center;
    }
    p {
        font-size: $large;
        font-weight: 350;
    }
    @media only screen and (max-width: 1200px) {
    font-size: $small;
    padding: 0px 5px 0px 5px;
    text-align: center;
    line-height: 1.5;
        h3 {
            text-align: center;
        }
    }
}