//* Begin site *//

#carouselExampleAutoplaying {
    @media only screen and (max-width: 1200px) {
        max-width: 100%;
    }
}
.carousel-inner {
        border-bottom-width: thin;
        border-bottom-style: inset ;
        @media only screen and (max-width: 1200px) {
            overflow: hidden;
            width: 100%;
            border-radius: 0px;
        }
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 50px;
        height: 50px;
        @media only screen and (max-width: 1200px) {
            width: 30px;
            height: 30px;
        }
    }
    .carousel-control-prev, .carousel-control-next {
        opacity: .7;
    }
    .col {
        color: black;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;;
    }
    .left-row {
    margin-top: 5em;
    @media only screen and (max-width: 1200px) {
            flex-direction: column;
            margin: 10px 0px 0px 0px;   
        }
    }
    .right {
        padding: 0px 0px;
        @media only screen and (max-width: 1200px) {
            padding: 0px 12px 0px 12px;
        }
    }
    .right-row {
    margin: -2em 0em 4em 0em;
        @media only screen and (max-width: 1200px) {
                flex-direction: column-reverse;
                margin: 10px 0px 0px 0px;
            }
    }
    .dali, .klipsch {
        width: 100%;
    }
    .left-content {
        margin: 6em 0em 0em 17em;
        height: 100px;
        width: 400px;
        text-align: start;
        letter-spacing: 1px;
            @media only screen and (max-width: 1200px) {
            margin: 20px 0px 20px 0px;
            width: 250px;
            height: 170px;}
    }
    .right-content {
        margin: 9em 0em 0em 17em;
        height: 100px;
        width: 400px;
        text-align: start;
        letter-spacing: 1px;
            @media only screen and (max-width: 1200px) {
            margin: 20px 0px 20px 0px;
            width: 250px;
            height: 170px;}
    }
    #text-1, #text-2 {
        font-size: 18px;
        @media only screen and (max-width: 1200px){
            font-size: 14px;
        }
    }
    .text-center h5 {
        margin-top: 20px;
    }
    .left-img, .right-img {
        border-radius: 7px;
    }
    .logo{
        justify-content: center;
        align-items: center;
        margin: 20px 0px 20px 0px;
        img {
            align-items: center;
            height: 70px;
            border-radius: 50%;
        }
    @media only screen and (max-width: 1200px) {
        justify-content: center;
        align-items: center;
        margin: 5px 0px 5px 0px;
        img {
            align-items: center;
            height: 50px;
            border-radius: 50%;
            }
        }
    }    