.service-one, .service-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    @media only screen and (max-width: 1200px) { 
        flex-direction: column;
        margin: 0;
    }
}
.upper-container, .bottom-container {
    margin: 20px 0px;
}
.services-text__container {
    display: flex;
    margin: 20px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    line-height: 2;
    @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
}
.upper-container img {
    width: $width - 70px;
    height: $height - 50px;
    border-radius: 10px;
    @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
.bottom-container iframe {
    border: 1px solid;
    border-radius: 10px;
    @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 10px;
    }
}