.container-fluid-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    color: black;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        height: 150px;
        font-style: normal;
        font-size: 14px;
    }
}
.copy p {
    font-size: 16px;
    padding: 15px 0px 0px 0px;
    @media only screen and (max-width: 1200px) {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}
.center-foot {
    font-size: 20px;
    margin-left: 30px;
    border-bottom: 1px solid;
    border-bottom-width: medium;
    border-bottom-style: inset;
    a {
        color: black;
        text-decoration: none;
    }
    @media only screen and (max-width: 1200px) {        
        margin: 10px 0px 5px 0px;
        align-items: center;
    }
}
.facelogo {
    width: 20px;
    height: auto;
    @media only screen and (max-width: 1200px) {
        width: 20px;
        height: 20px;
    }
}
.twlogo {
    width: 40px;
    height: auto;
    padding-left: 12px ;
    @media only screen and (max-width: 1200px)
    {
        width: 33px;
        height: 28px;
        padding-left: 12px ;
    }
}
.instalogo {
    width: 29px;
    height: auto;
    padding-left: 6px;
    @media only screen and (max-width: 1200px)
    {
        width: 30px;
        height: 23px;
        padding-left: 10px;
    }
}
.ytlogo {
    align-items: center;
    width: 36px;
    height: auto;
    margin-top: 2px;
    padding-left: 6px;
    @media only screen and (max-width: 1200px)
    {
        width: 35px;
        height: 30px;
        margin-top: 0px;
        padding-left: 10px;
    }    
}