//* Header Nav *//

.header {
    background-color: rgb(244, 244, 244);
    @include tablet {
        background-color: rgb(121, 121, 121);
    }
    @include tablet-max {
        background-color: rgb(121, 121, 121);
    }
    @include mobile-index {
        background-color: rgb(121, 121, 121);
    }
}
.bg-light {
    --bs-bg-opacity: 0;
    background-color: black;
}
.navbar {
    border-bottom: 1px solid;
    border-bottom-width: thin;
    border-bottom-style: inset;
    @include desktop {
        border-bottom: none;
    .logo-nav {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
    } 
    .navbar-brand {
        display: none;
        } 
    }
}    
.navbar-brand {
    padding-top: none;
    padding-bottom: none;
    margin-right: none;
    text-decoration: none;
    white-space: none;
    margin-top: 5px;
    img {
        height: 40px;
        margin-top: 5px;
    }
}
#navmenu {
    justify-content: flex-end;
    text-align: center;
    .navbar-search {
        width: 100px;
        border: 3px solid #5f9ea0;
        border-radius: 10px;
        text-indent: 5px;
        font-weight: bold;
        margin: 0px 5px 0px 5px;
    }
    a {
        font-size: $xlarge;
        font-weight: lighter;
        text-shadow: 0px 1px rgb(96, 96, 96);
    }
    .navbar-user {
        width: 1.6em;
        height: 1.6em;
        margin-top: -5px;
    }
    .navbar-cart {
        width: 1.2em;
        height: 1.2em;
        margin-top: -5px;
    }
    @include desktop {
        .navbar-search {
            width: 80px;
            border: 1px solid #5f9ea0;
            text-align: center;
            text-indent: 0px;
        }
        a {
            font-size: $medium;
            font-weight: lighter;
        }
    }
}   
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        width: 500px;
    }
} 
.btn-close {
    position: absolute;
    padding: 0.50rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    --bs-btn-close-opacity: 0.8;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
    top: -15px;
    right: -15px;
}
.modal-dialog {
    @include mobile-small {
        margin: 18px;
    }
}  
.modal-header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    padding: 18px 16px 30px 16px;
}
.modal-body {
    padding: 0px 40px 20px 40px;
    color: black;
}
.check {
    justify-content: center;
}
.form-check .form-check-input {
    border: 1px solid skyblue;
    float: none;
    margin-left: none;
    &:focus {
        box-shadow: 0 0 0 0.10rem rgba(13,110,253,.25);
    }
}
.reset-pass {
    font-size: $medium;
}
.sign-label {
    justify-content: start;
    align-items: start;
}
.signInBtn {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.hr-lines{
    position: relative;
    max-width: 500px;
    margin: 40px 0px;
    align-items: center;
    &::before{
        content:" ";
        height: 2px;
        width: 130px;
        background: red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        @include mobile-index {
            width: 80px;
        }
    }
    &::after {
        content:" ";
        height: 2px;
        width: 130px;
        background: red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        @include mobile-index {
            width: 80px;
        }
    }
}
.register-title {
    margin-bottom: 30px;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    --bs-navbar-toggler-border-radius: none;
    --bs-navbar-toggler-focus-width: none;
    --bs-navbar-toggler-transition: none;   
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    @include desktop {
        display: flex;
        flex-direction: column;
    }
    .navbar-user {
        margin: 0px 0px 0px 0px;
    }    
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler {
    @include desktop {
        border: none;
        padding-right: 0px;
        transition: all 0.30s ease;
        &:hover, :focus {
            transform: rotate(90deg);
            transition: all 0.30s ease;
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }
    }    
}